.header {
<<<<<<< HEAD
  position: sticky;
  top: 0;
  backdrop-filter: blur(10px);
}
.header-content {
=======
>>>>>>> feature-1
  display: flex;
  justify-content: space-between;
  align-items: center;
  block-size: 80px;
<<<<<<< HEAD
=======
  position: sticky;
  top: 0;
  backdrop-filter: blur(10px);
>>>>>>> feature-1
}